<section class="beliefs">
  <div class="container">
    <div class="beliefs_slider swiper">
      <div class="beliefs_wrapper swiper-wrapper">
        <div class="swiper-slide beliefs-slide">
          <img
            loading="lazy"
            class="beliefs-slide-img"
            src="./assets/image/beliefs-typing-on-a-laptop.jpg"
            width="502"
            height="629"
            alt="Man typing on laptop"
          />
        </div>
        <div class="swiper-slide beliefs-slide">
          <img
            loading="lazy"
            class="beliefs-slide-img2"
            src="./assets/image/beliefs-meeting.jpg"
            width="502"
            height="370"
            alt="Сollective meeting, discussion of topics"
          />
          <h5 class="heading-h5">What we believe in</h5>
          <p>
            Over the years at Sans, we’ve put a lot of thought into what it is
            that makes us who we are. The qualities that unite us, that make us
            such an effective team, and...
          </p>
          <button>
            <a href="#"
              >See Details
              <svg
                width="15"
                height="13"
                viewBox="0 0 15 13"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M7.4636 0.263604C7.81508 -0.087868 8.38493 -0.087868 8.7364 0.263604L14.1364 5.6636C14.4879 6.01508 14.4879 6.58493 14.1364 6.9364L8.7364 12.3364C8.38493 12.6879 7.81508 12.6879 7.4636 12.3364C7.11213 11.9849 7.11213 11.4151 7.4636 11.0636L11.3272 7.2L0.900001 7.2C0.402945 7.2 0 6.79706 0 6.3C0 5.80294 0.402945 5.4 0.900001 5.4H11.3272L7.4636 1.5364C7.11213 1.18492 7.11213 0.615076 7.4636 0.263604Z"
                  fill="white"
                />
              </svg>
            </a>
          </button>
        </div>
        <div class="swiper-slide beliefs-slide">
          <img
            loading="lazy"
            class="beliefs-slide-img3"
            src="./assets/image/beliefs-womans-work-on-lapto.png"
            width="506"
            height="460"
            alt="Woman work on laptop"
          />
        </div>
        <div class="swiper-slide beliefs-slide">
          <img
            loading="lazy"
            class="beliefs-slide-img"
            src="./assets/image/beliefs-typing-on-a-laptop.jpg"
            width="502"
            height="629"
            alt="Man typing on laptop"
          />
        </div>
      </div>
    </div>
  </div>
</section>
