<section class="articles">
  <div class="container">
    <ul class="articles-list">
      <li class="articles-list-item active">View all</li>
      <li class="articles-list-item">Design</li>
      <li class="articles-list-item">Articles</li>
      <li class="articles-list-item">Product</li>
      <li class="articles-list-item">Software Development</li>
      <li class="articles-list-item">Customer Success</li>
    </ul>
  </div>
  <div class="articles-swiper swiper">
    <div class="swiper-wrapper">
      <div class="articles-swiper__slide swiper-slide">
        <img
          loading="lazy"
          src="./assets/image/articles-slider/articles-slider1.jpg"
          alt="A happy woman drinks and works on a MacBook."
          width="515"
          height="428"
        />
        <span class="articles-swiper__slide-time">
          Published in Insight
          <time datetime="2021-15-30">Jan 30, 2021</time></span
        >

        <h5 class="articles-swiper__slide__title heading-h5">
          Practice making User Flow
        </h5>

        <p class="articles-swiper__slide-desrc">
          In this article, we'll cover how to create user flows
        </p>
      </div>
      <div class="articles-swiper__slide swiper-slide">
        <img
          loading="lazy"
          src="./assets/image/articles-slider/articles-slider2.jpg"
          alt="Two woman are discussing and works on a laptop."
          width="515"
          height="428"
        />
        <div class="articles-swiper__slide__aboutAuthor">
          <span class="articles-swiper__slide-time">
            Published in Insight
            <time datetime="2021-15-30">Jan 30, 2021</time></span
          >
          <p class="articles-swiper__slide__author">by : Albert Sans</p>
        </div>

        <h5 class="articles-swiper__slide__title heading-h5">
          Overview of the Design Principles
        </h5>

        <p class="articles-swiper__slide__desrc2">
          What are Design Principles?… To understand design principles, we first
          discuss the principles.
        </p>
      </div>
      <div class="articles-swiper__slide swiper-slide">
        <img
          loading="lazy"
          src="./assets/image/articles-slider/articles-slider3.jpg"
          alt="Two woman are discussing and works on a laptop."
          width="379"
          height="428"
        />
        <div class="articles-swiper__slide__aboutAuthor">
          <span class="articles-swiper__slide-time">
            Published in Insight
            <time datetime="2021-15-30">Jan 30, 2021</time></span
          >
          <p class="articles-swiper__slide__author">by : Max</p>
        </div>

        <h5 class="articles-swiper__slide__title heading-h5">
          Overview of the Design Principles
        </h5>

        <p class="articles-swiper__slide-desrc">
          Andi: "What's the grid like?" Toni: “Like below…”
        </p>
      </div>
      <div class="articles-swiper__slide swiper-slide">
        <img
          loading="lazy"
          src="./assets/image/articles-slider/articles-slider2.jpg"
          alt="Two woman are discussing and works on a laptop."
          width="515"
          height="428"
        />
        <div class="articles-swiper__slide__aboutAuthor">
          <span class="articles-swiper__slide-time">
            Published in Insight
            <time datetime="2021-15-30">Jan 30, 2021</time></span
          >
          <p class="articles-swiper__slide__author">by : Albert Sans</p>
        </div>

        <h5 class="articles-swiper__slide__title heading-h5">
          Overview of the Design Principles
        </h5>

        <p class="articles-swiper__slide__desrc2">
          What are Design Principles?… To understand design principles, we first
          discuss the principles.
        </p>
      </div>
      <div class="articles-swiper__slider__btns">
        <svg
          width="27"
          height="17"
          viewBox="0 0 27 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill="none"
            d="M18.1666 1.5L24.8333 8.16667L18.1666 14.8333M8.16658 14.8333L1.49992 8.16667L8.16658 1.5"
            stroke="#1D1E25"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>
  </div>
</section>
