.about-hero {
  padding: 105px 0 135px;
  @include mini-desktop {
    padding: 151px 0 135px;
  }
  @include tablet {
    padding: 80px 0 185px;
  }
  @include small-tablet {
    padding: 80px 0 99px;
  }
  @include mobile {
    padding: 55px 0 81px;
  }
  @include small-mobile {
    padding: 55px 0 139px;
  }

  &__title {
    max-width: 959px;
    margin-bottom: 118px;
    @include mini-desktop {
      margin-bottom: 90px;
      font-size: 64px;
      @include mini-desktop {
        margin-bottom: 150px;
      }
      @include tablet {
        margin-bottom: 185px;
        font-size: 58px;
      }
      @include small-tablet {
        font-size: 48px;
        margin-bottom: 125px;
      }
      @include mobile {
        font-size: 42px;
        margin-bottom: 85px;
        text-align: center;
      }
      @include small-mobile {
        font-size: 34px;
      }
    }
  }
  &__bottom {
    @include flex-align-center;
    display: flex;
    align-items: center;
    @include small-tablet {
      display: block;
    }
  }

  &__bottom::before {
    content: '';
    display: inline-block;
    width: 76px;
    height: 1px;
    background-color: var(--neutral-color-100);
    transform: translateY(-74px);
    @include mini-desktop {
      transform: translateY(-64px);
      width: 235px;
    }
    @include small-tablet {
      display: none;
    }

    &__left {
      justify-content: space-between;
    }
  }

  &__desrc {
    margin-right: 174px;
    padding-left: 24px;
    max-width: 779px;
    font-size: 32px;
    @include mini-desktop {
      margin-right: 50px;
      font-size: 28px;
    }
    @include tablet {
      font-size: 26px;
    }
    @include small-tablet {
      padding-left: 0;
      margin-right: 0;
      margin-bottom: 60px;
      font-size: 24px;
      display: flex;
      justify-content: center;
      text-align: center;
    }
    @include small-mobile {
      margin-bottom: 16px;
      font-size: 22px;
    }
  }
  &__icon {
    display: flex;
    justify-content: center;
  }
}
